  {% include searchmodal.html %}
  {% include scripts.html %}

  <!-- reference: https://coryrylan.com/blog/using-import-maps-and-lit-element-web-components -->
  <!-- browse reference (add /browser in front of package): https://unpkg.com/browse/lit-element@2.4.0/lit-element.js -->
  <script type="importmap-shim">
    {
      "imports": {
        "lit-html": "https://unpkg.com/lit-html@latest/lit-html.js?module",
        "lit-element": "https://unpkg.com/lit-element@latest/lit-element.js?module",
        "lit-html/lit-html.js": "https://unpkg.com/lit-html@latest/lit-html.js?module",
        "lit-html/lib/shady-render.js": "https://unpkg.com/lit-html@latest/lib/shady-render.js?module",
        "algoliasearch": "https://unpkg.com/algoliasearch@4.4.0/dist/algoliasearch.esm.browser.js?module"
      }
    }
  </script>
  <script type="module-shim">
    import { LitElement, html, css } from 'lit-element';
    import 'https://unpkg.com/@kemet/kemet-drawer@latest/kemet-drawer.js';
    import 'https://unpkg.com/@kemet/kemet-modal@latest/kemet-modal.js';
    import '/components/blog-header/blog-header.js';
    import '/components/blog-post-excerpt/blog-post-excerpt.js';
    import './components/blog-tag/blog-tag.js';
    import './components/blog-paginator/blog-paginator.js';
    import './components/blog-theme-toggle/blog-theme-toggle.js';
    import './components/blog-searchmodal/blog-searchmodal.js';
  </script>
</body>
</html>
