<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="maUeZ1eX-wrzAgGR_LKS5RzYpOV944aiFpkeNsq_Fwc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="Description" content="{{ page.excerpt | default: site.description }}">
    {%if page.tags %}
      <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {%endif %}
    <base href="/">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&ver=5.2" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/styles/vs2015.min.css" rel="stylesheet" type="text/css"/>
    <title>{{ page.title | default: site.title }}</title>
    <script defer src="https://unpkg.com/es-module-shims@latest/dist/es-module-shims.js"></script>
  </head>
  <body>
