<script src="{{ '/assets/js/bundle.js' | relative_url }}" type="module"></script>
<script>
  const init = () => {
    // handle modal content lock
    document.addEventListener('kemet-modal-open', () => {
      document.querySelector('html').setAttribute('modalisopen', true);
    });

    document.addEventListener('kemet-modal-close', () => {
      document.querySelector('html').removeAttribute('modalisopen');
    });

    // handle deep links
    // TODO: figure out why this doesn't work by default
    document.querySelectorAll('a[href*="#"').forEach((link) => {
      const hash = link.href.replace(`${location.origin}/`, '');

      if (hash.charAt(0) === '#') {
        link.addEventListener('click', (event) => {
          event.preventDefault();
          const area = document.querySelector(hash);
          const headerHeight = 100;

          area.scrollIntoView(true);

          if (window.scrollY) window.scroll(0, window.scrollY - headerHeight);
        });
      }
    });
  };

  init();
</script>
