html {
  /* color pallet */
  --white: #f8f8f8;
  --black: #080808;
  --primary-color: #05161f;
  --secondary-color: #e5c116;
  --tertiary-color: #101010;
  --text-color: #5d5d5d;
  --link-color: #007dc1;
  --code-color: #d69d85;
  --callout-color:#ffeb51;
  --callout-border-color: #ff9b51;

  /* specific areas */
  --background-color: var(--white);
  --text-color-header: var(--white);
  --header-background-color: var(--primary-color);
  --heading-color: var(--primary-color);
  --blog-tag-background-color: var(--primary-color);
  --blog-tag-current-text-color: var(--primary-color);
  --thick-border-color: var(--primary-color);
}

html[theme="dark"] {
  /* dark mode overwrites */
  --white: #a1a1a1;

  --background-color: var(--tertiary-color);
  --header-background-color: var(--black);
  --heading-color: var(--text-color);
  --blog-tag-background-color: var(--text-color);
  --blog-tag-current-text-color: var(--text-color);
  --thick-border-color: var(--text-color);
}

html[modalisopen] {
  overflow: hidden;
}

body {
  font: 16px 'Ubuntu', sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  margin: 100px 0 0 0;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

p {
  font-size: 1.1rem;
}

img {
  max-width: 100%;
}

pre {
  margin: 0;
}

code {
  font-size: 14.5px;
  font-family: monospace;
  padding: 2px 4px;
  color: var(--code-color);
  background: #101010;
}

[slot="content"] {
  padding: 0 2rem;
  margin: auto;
  line-height: 2;
  clear: both;
}

@media screen and (min-width: 768px) {
  [slot="content"] {
    max-width: 960px;
  }
}

kemet-drawer {
  position: relative;
  z-index: 0;
  display: block;
  --kemet-drawer-background: var(--tertiary-color);
}

.rouge-gutter pre {
  border-right: 1px solid #404040;
  padding: 0 1rem;
}

.float-left img {
  float: left;
  padding: 0 1.5rem 0 0;
}

.circle img {
  border-radius: 50%;
}

.callout {
  background: var(--callout-color);
  border-left: 6px solid var(--callout-border-color);
  padding: 1.5rem;
  line-height: 1.75;
}

.filepath {
  margin: 0;
  background: #1e1e1e;
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 14.5px;
  font-family: monospace;
  border-bottom: 1px solid #404040;
}

.highlight code {
  display: block;
  overflow-x: auto;
}
