---
layout: home
---

{% include head.html %}

<blog-header resizeoffset="100"></blog-header>

<kemet-drawer effect="push" side="right">
  <nav slot="navigation">
    <blog-site-links location="sidenav"></blog-site-links>
  </nav>
  <section slot="content">
    <div class="posts">
      {% for post in paginator.posts %}
        <blog-post-excerpt
          date="{{ post.date | date: "%b %-d, %Y" }}"
          url="{{ post.url | relative_url }}"
          title="{{ post.title | escape }}"
          author="{{ post.author }}"
          location="home">
          <p>{{ post.excerpt }}</p>

          {% if post %}
            {% assign tags = post.tags %}
          {% else %}
            {% assign tags = page.tags %}
          {% endif %}

          {% if post.tags %}
            <ul>
              {% for tag in tags %}
                  <li><blog-tag href="/tag/#{{tag | slugize}}">{{tag}}</blog-tag></li>
              {% endfor %}
            </ul>
          {% endif %}
        </blog-post-excerpt>
      {% endfor %}
    </div>

    <footer>
      <blog-social></blog-social>
      <blog-paginator
        totalpages="{{ paginator.total_pages }}"
        currentpage="{{ paginator.page }}"
        currentpagepath="{{ paginator.page_path }}"
        {% if paginator.previous_page %} previouspage="{{ paginator.previous_page }}" {% endif %}
        {% if paginator.previous_page_path %} previouspagepath="{{ paginator.previous_page_path }}" {% endif %}
        {% if paginator.next_page %} nextpage="{{ paginator.next_page }}" {% endif %}
        {% if paginator.next_page_path %} nextpagepath="{{ paginator.next_page_path }}" {% endif %}
        firstpage="{{ paginator.first_page }}"
        firstpagepath="{{ paginator.first_page_path }}"
        lastpage="{{ paginator.last_page }}"
        lastpagepath="{{ paginator.last_page_path }}"
      >
      </blog-paginator>
    </footer>
  </section>
</kemet-drawer>

{% include footer.html %}
